/* nav-bar.component.css */
.navbar {
    background-color: #f8f9fa;
    padding: 10px 0;
    width: 100%;
    position: fixed; /* Fijar en la parte superior */
    top: 76px; /* Ajustar según el tamaño del header */
    left: 0;
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar los elementos horizontalmente */
    width: 100%; /* Ocupar todo el ancho disponible */
  }
  
  .form-group {
    margin-bottom: 10px; /* Espacio entre los grupos de formulario */
    flex: 1; /* Que ocupen el mismo espacio */
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .btn {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Agregar espacio entre campos de texto */
  .form-group:not(:last-child) {
    margin-right: 10px;
  }
  
  
  
  
  