<!-- nav-bar.component.html -->
<div class="navbar">
    <div class="container">
      <form class="form-inline">
        <div class="form-group mr-2">
          <label for="where">Dónde</label>
          <input type="text" class="form-control ml-1" id="where" placeholder="Ciudad, lugar de interés">
        </div>
        <div class="form-group mr-2">
          <label for="arrival">Llegada</label>
          <input type="date" class="form-control ml-1" id="arrival">
        </div>
        <div class="form-group mr-2">
          <label for="departure">Salida</label>
          <input type="date" class="form-control ml-1" id="departure">
        </div>
        <div class="form-group mr-2">
          <label for="guests">Quiénes</label>
          <div class="input-group ml-1">
            <button class="btn btn-outline-secondary" type="button">-</button>
            <input type="text" class="form-control" id="guests" value="1" readonly>
            <button class="btn btn-outline-secondary" type="button">+</button>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
  
  
  