/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #000000;
    --accent-color: #0196b424;
  }


html, body {
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
}