<article>
    <img
      class="listing-photo"
      [src]="housingLocation?.imagen"
      alt="Exterior photo of {{ housingLocation?.nombre }}"
      crossorigin
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.nombre }}</h2>
      <p class="listing-location">{{ housingLocation?.ciudad }}, "Colombia"</p>
      <p class="listing-location">{{ housingLocation?.tipo }}</p>
      <p class="listing-location">{{ housingLocation?.descripcion }}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">Acerca del inmueble</h2>
      <ul>
        <li>Precio por noche {{ housingLocation?.precioNoche }}</li>
        <li>Número de habitaciones: {{ housingLocation?.nroHabitaciones }}</li>
        <li>Capacidad de personas máxima: {{ housingLocation?.capacidad_Max }}</li>
        <li>Servicios adicionales: {{ housingLocation?.serviciosAdicionales }}</li>
      </ul>
    </section>
  </article>